.about_me {
    padding: 100px 20px;
}

.about_me-info {
    color: #797979;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

.about_me-infoo {
    color: green;
    font-weight: 100;
    font-size: 300;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about_me-infoo:hover {
    color: blue;
}