/* Main section */
.main-banner {
    background: url('../images/home-banner.png') no-repeat top center;
    background-position: center;
    background-size: cover;
    min-height: 890px;
    box-sizing: border-box;
}

.main-section {
    padding: 120px 30px;
}

.main-section>div {
    width: 50%;
    float: left;
}

.main-section__image {
    text-align: right;
}

.main-section__welcome {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #797979;
}

.main-section__introduction {
    margin-top: 20px;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #05364d;
}

.main-section__position {
    color: #05364e;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}

.main-section__social-networks a {
    color: #8fa1aa;
    font-size: 20px;
    display: inline-block;
    margin-right: 16px;
    cursor: pointer;
}

.main-section__social-networks a:hover {
    transform: scale(1.20);
    opacity: 0.9;
    transition: 0.3s;
}

.main-section__social-networks a:hover i {
    color: #1c44e4;
}

.main-section__action {
    margin-top: 30px;
}

/* Statistics section */
.statistics {
    padding-top: 20px;
}

.statistics__item {
    display: inline-block;
    width: 150px;
    background-color: #F8feff;
    text-align: center;
    padding: 5px 10px;
    margin-right: 20px;
}

.statistics__number {
    font-size: 27px;
    margin-top: 5px;
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.statistics__title {
    font-size: 16px;
    color: #797979;
    font-weight: 300;
}

/* About-me section */
.about-me {
    padding: 100px 0;
}

.about-me>div {
    width: 50%;
    float: left;
}

.about-me__image img {
    width: 90%;
}


.about-me__description {
    font-size: 14px;
    font-weight: 300;
    color: #797979;
    line-height: 27px;
}

.about-me__action {
    margin-top: 40px;
}

/* Servisec section styles */
.services {
    padding-top: 100px;
}

.service-card {
    display: inline-block;
    width: 30%;
    padding: 60px 30px;
    background-color: #f3f3f3;
    margin-right: 3%;
    text-align: center;
    box-sizing: border-box;
}

.service-card__title {
    color: #05364d;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;

}

.service-card__description {
    font-size: 14px;
    line-height: 27px;
    font-weight: 300;
    color: #797979;
}

.service-card__link {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364d;
    text-decoration: none;
}

.service-card:hover {
    background-color: #5f30ff;
}

.service-card:hover .service-card__title,
.service-card:hover .service-card__description,
.service-card:hover .service-card__link {
    color: #FFFFFF;
}

/* Clients section styles */
.clients {
    padding-top: 100px;
}

.client-item>div {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.client-item__image img {
    width: 44%;
}

.client-item__info {
    padding-top: 50px;
    padding-right: 50px;
}

.client-item__name {
    font-size: 20px;
    margin-top: 4px;
}

.client-item__position {
    font-size: 14px;
    font-weight: 300;
    color: #5b6d75;
}

.client-item__review {
    font-size: 14px;
    line-height: 27px;
    font-weight: 300;
    color: #5b6d75;
}

.client-item__rate {
    color: #ffd804;
}

.client-item__rate .disabled {
    color: #aeb9be
}

/* Porfolio section styles */
.portfolio {
    padding: 100px 0;
}

.portfolio-filters {
    list-style: none;
    padding-left: 0;
    margin-top: 50px;
}

.portfolio-filters li {
    display: inline-block;
    margin-right: 40px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

.portfolio-filters li:hover,
.portfolio-filters li.active {
    color: #1345e6;
}

.portfolio-items {
    position: relative;
    margin-top: 50px;
}

.portfolio-item {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.portfolio-item-1 {
    padding-left: 0;
}

.portfolio-item-2 {
    position: absolute;
    right: 0;
    top: 0;
    padding-bottom: 10px;
}

.portfolio-item-3 {
    position: absolute;
    right: 0;
    top: 325px;
}


.portfolio-item__image {
    width: 100%;
}

.portfolio-item__overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(19, 69, 230, 0.9);
    visibility: hidden;
    z-index: 1;
}

.portfolio-item__info {
    position: absolute;
    bottom: 44px;
    left: 80px;
    color: white;
    visibility: hidden;
    z-index: 1;
}

.portfolio-item__info a {
    color: white;
    text-decoration: none;
}

.portfolio-item:hover .portfolio-item__overlay {
    visibility: visible;
    top: 20px;
    left: 20px;
}

.portfolio-item:hover .portfolio-item__info {
    visibility: visible;
    bottom: 24px;
    left: 64px;
}



/* Blog section styles */
.blog {
    padding-top: 50px;
}

.blog-items {
    margin-top: 50px;
}

.blog-item {
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    box-sizing: border-box;
}

.blog-item:hover {
    box-shadow: 0px 10px 20px rgb(5 54 77 / 10%);
}

.blog-item:hover .blog-item__info {
    background-color: #f3f3f3;
}

.blog-item__image img {
    width: 100%;
}

.blog-item__info {
    background-color: #f8fafa;
    padding: 30px;
    color: #797979;
}

.blog-item__main-info span {
    font-size: 14px;
    margin-right: 30px;
    font-weight: lighter;
}

.blog-item__info i {
    margin-right: 5px;
}

.blog-item__title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #05364d;
    font-weight: 700;
}

.blog-item__description {
    line-height: 27px;
    font-weight: lighter;
    font-size: 15px;
}

.blog-item__learn-more {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364d;
    cursor: pointer;

}

.blog-item__learn-more:hover {
    color: #ed239f;
}

/* Partners section styles */
.partners {
    padding-top: 100px;
}

.partners__div {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
    background-size: 200% 200%;
    /* katta fon, shunda siljiydi */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    transition: background-position 1.5s ease;
    cursor: pointer;
}

.partners__div:hover {
    background-position: 100% 0;
}


/*Links*/
.social-section {
    text-align: center;
    margin-top: 80px;
}

.social-title {
    font-size: 32px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #05364d;
}

.arrow {
    display: block;
    font-size: 40px;
    margin-top: 10px;
    color: #05364d;
    animation: bounce 2s infinite;
    background: linear-gradient(90deg, #FF0000 5%, #F58529 3%, #DD2A7B 66%, #8134AF 8%, #0088CC 10%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

/* Strelka tepaga-pastga qimirlaydi */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15px);
    }
}


.social-links_new {
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-links_new a {
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: 0.3s;
}

.social-links_new a i {
    font-size: 24px;
}

.youtube {
    background: #ff0000;
}

.instagram {
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af);
}

.telegram {
    background: #0088cc;
}

.social-links_new a:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

@media only screen and (max-width: 767px) {
    .main-banner {
        background: none;
        min-height: auto;
    }

    .main-section img {
        display: none;
    }

    .main-section__action {
        display: none;
    }

    .main-section>div {
        width: 100%;
        padding: 1rem 0;
    }

    .main-section__introduction {
        font-size: 3rem;
    }

    /* Statistics section */
    .statistics__item {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
        box-sizing: border-box;
    }

    /* About me section*/
    .about-me {
        padding: 1.5rem 0;
    }

    .about-me>div {
        width: 100%;
    }

    .about-me img {
        display: none;
    }

    .about-me__action {
        display: none;
    }

    /*Services section */
    .services {
        padding: 1.5rem;
    }

    .service-card {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    /* Clients */
    .clients {
        padding: 1.5rem 0;
    }

    .client-item>div {
        width: 100%;
        float: none;
    }

    /* Portfolio */
    .portfolio {
        padding: 1.5rem 0;
    }

    .portfolio-item {
        width: 100%;
    }

    .portfolio-item-1,
    .portfolio-item-2,
    .portfolio-item-3 {
        position: static;
    }

    /* Blog */
    .blog {
        padding: 1.5rem 0;
    }

    .blog-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    /* Partners */
    .partners {
        padding: 1.5rem 0;
    }

    .about-me__info {
        width: 100%;
    }
}